:root {
    --primary: #BB86FC;
    --primary-variant: #1b005b;
    --secondary: #03DAC6;
    --background: #143363;
    --surface: #121212;
    --error: #CF6679;
    --warning: #F39C12;
    --on-background: #FFFFFF;
    --on-background-grey: #c7c7c7;
    --on-surface: #FFFFFF;
    --body: #6da4e3;
  }
  
  [data-theme="light"] {
    --background: #73b8ea;
    --surface: #FFFFFF;
    --on-background: #333333;
    --on-background-grey: #6d6d6d;
    --on-surface: #333333;
    --body: #abcaf3;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  a {
    color: var(--on-background);
  }
  
  
  body {
    font-family: 'Inter', sans-serif;
  }
  
  .app-container {
    color: var(--on-background);
    /* background-color: var(--body); */
    min-height: 100vh;
    transition: all ease-in-out 0.5s;
  }
  
  .contents, .error{
    width : fit-content;
    overflow-y: auto;
    height: calc(100vh - 164px);
    align-items: center;
    
  }

  .dash-name{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
  }

  /* header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
   
    position: fixed; /* Change to fixed */
    /* top: 0; /* Set it to the top */
    /* left: 0; */
    /* right: 0; /* */
  /* }  */
  
  /* footer {
    display: flex;
    flex-direction: column;
    position: fixed; 
    bottom: 0; 
    left: 0;
    right: 0; 
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-top: 1px solid var(--on-background);
    height: 50px;
    font-size: 15pt;
  } */
  header h1 {
    flex: 1;
    
  }
  .header-navigation, .just-dashboard-button{
    display: flex;
    flex-direction: row;
  }

  .headerStyle h1{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    flex: 1;
  }

  /* header .header-navigation ul li {
    display: inline-block;
    font-size: 24px;
    margin: 8px;
  } */
  
  /* main {
    margin: auto;
    justify-content: center;
    padding: 32px 0;
    
    max-width: 1200px;
    text-align: center;
    height:fit-content;
    width:auto;
    padding-top: 64px;
    padding-bottom: 64px;
  } */

  section {
    width:max-content; /* Subtract the width of the side dashboard */
    min-height: fit-content; /* Adjust for header and footer heights */
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    margin: 0 auto;
    padding: 16px;
    transition: all ease-in-out 0.5s;
    overflow-y: auto; /* Add scrollbar if content exceeds height */
  }
  .error{
    color: var(--error);
    font-size: 30pt;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
  }

  [data-placeholder]:empty::before {
    content: attr(data-placeholder);
    color: var(--on-background-grey)
  }

  .toggle-theme, .toggle-locale, .icon-add-task, .icon-waiting-task {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    color: var(--on-background);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 16px 0;
    font-size: 30px;
  }

  .container {
    /* background-color: transparent; */
    border: none;
    color: rgb(0, 0, 0); /* White text */
    padding: 15px 32px; /* Padding */
    text-align: center; /* Center text */
    text-decoration: none;
    display: inline-block;
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margin */
    cursor: pointer; /* Cursor style */
    border-radius: 10px; /* Rounded corners */
  }
  
  .task_input{
    background: 1px solid var(--on-background);

  }
  
  canvas{
    outline: none;
    border: none;
    overflow: hidden;
    -webkit-outline: none;
    -webkit-border: none;
    -webkit-overflow: hidden;
  }

  /* Custom dropdown styles */
.task_dropdown {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid var(--on-background-grey); /* Use theme color for border */
  border-radius: 5px;
  background-color: var(--background); /* Use theme color for background */
  color: var(--on-surface); /* Use theme color for text color */
  position: relative;
  appearance: none; /* Remove default arrow */
  -webkit-appearance: none; /* Remove default arrow for webkit browsers */
  -moz-appearance: none; /* Remove default arrow for Mozilla Firefox */
}

/* Custom dropdown arrow */
.task_dropdown::after {
  content: '\25BC'; /* Downward arrow */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--on-background); /* Use theme color for arrow color */
}

/* Custom dropdown option styles */
.task_dropdown option {
  background-color: var(--background);
  margin: 10px;
  color: var(--on-surface);
}

/* Custom dropdown focus styles */
.task_dropdown:focus {
  outline: none;
  border-color: var(--primary); /* Change border color on focus */
}

.burger-button {
  position: absolute;
  left: 0;
  top: 20px; /* Adjust top position as needed */
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
  color: var(--on-background);
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 30px;
  transition: margin-left 0.5s;
  margin-bottom: 10px;
}

.menu-nav{
  font-weight: bold;
  font-size: large;
  height: auto;
}

.side-dashboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: fixed;
  left: 0;
  top: 65px;
  padding: 16px;
  height: fit-content;
  min-height: calc(100vh - 100px);
  width: 250px;
  background-color: var(--surface);
  transition: all ease-in-out 0.5s;
  overflow-y: visible;
}

/* .map{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  height: 100pc;
  width: 100%;
  color: var(--background);
  background-color: var(--surface);
  transition: all ease-in-out 0.5s;
  overflow-y: auto;
} */

/* .map {
  width: fit-content; 
  height: fit-content; 
  position: relative; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  max-height: calc(100vh - 200px); 
} */

canvas {
  display: block; /* Make the canvas a block element */
  width: 100%; /* Ensure canvas fills its container */
  height: 100%; /* Ensure canvas fills its container */
  transform-origin: center;

}

.headerStyle {
  display: flex;
  position:fixed;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 64px;
  padding-inline: 48px;
  color: var(--on-background);
  background-color: var(--background);
  border-bottom: 1px solid var(--on-background);
  top: 0;
  left: 0; 
  right: 0;
}
.contentStyle {
  text-align: center;
  color: var(--background);
  height: fit-content;
  width:fit-content;
  padding-top: 64px;
}
.mainStyle {
  text-align: center;
  height:fit-content;
  width:auto;
  padding-top: 64px;
  padding-bottom: 64px;
}
.siderStyle {
  text-align: center;
  color: var(--surface);
  background-color: var(--background);
}
.footerStyle {
  text-align: center;
  color: var(--on-background);
  background-color: var(--background);
  font-weight: bold;
  font-size: 12pt;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  position: fixed; 
  padding: 16px;
  border-top: 1px solid var(--on-background);
  height: 50px;
   
}
.layoutStyle {
  border-radius: 8px;
  overflow:auto;
  background-color: var(--body);
  justify-content: center;
  padding: 32px 0;
  text-align: center;
}
.table-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  /* max-height: calc(100vh - 200px); */
  overflow-y: auto;
  height: calc(100vh - 164px);
}
.agv-data{
  border-radius: 8px; 
  text-align: center;
}
/* .agv-data-card{
  background-color: var(--background);
  color: var(--on-background);
  width: 220;
  margin-bottom:15; 
  text-align: left;
} */
.processing-task-card{
  background-color: var(--background);
  border-radius: 8px; /* Adjust as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  padding: 20px;
  width: 200px; /* Adjust width as needed */
  margin: 20px;
  text-align: center;
  color: var(--on-background);
}
.allocated-task-card{
  background-color: var(--background);
  border-radius: 8px; /* Adjust as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  padding: 20px;
  width: 200px; /* Adjust width as needed */
  margin: 20px;
  text-align: center;
  color: var(--on-background);
}