:root {
    --primary: #BB86FC;
    --primary-variant: #3700B3;
    --secondary: #03DAC6;
    --background: #143363;
    --surface: #121212;
    --error: #CF6679;
    --warning: #F39C12;
    --on-background: #FFFFFF;
    --on-background-grey: #c7c7c7;
    --on-surface: #FFFFFF;
  }
  
  [data-theme="light"] {
    --background: #7ee1dd;
    --surface: #FFFFFF;
    --on-background: #333333;
    --on-background-grey: #6d6d6d;
    --on-surface: #333333;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  a {
    color: var(--on-background);
  }
  
  
  body {
    font-family: 'Inter', sans-serif;
  }
  
  
  .app-container {
    color: var(--on-background);
    background-color: var(--background);
    min-height: 100vh;
    transition: all ease-in-out 0.5s;
  }
  
  .dash-name{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-bottom: 1px solid var(--on-background);
    position: fixed; /* Change to fixed */
    top: 0; /* Set it to the top */
    left: 0;
    right: 0; /* */
  }
  
  footer {
    display: flex;
    flex-direction: column;
    position: fixed; /* Mengubahnya menjadi fixed */
    bottom: 0; /* Menetapkannya ke bawah */
    left: 0;
    right: 0; /* Memastikan footer menempati seluruh lebar */
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-top: 1px solid var(--on-background);
    height: 50px;
    font-size: 15pt;
  }
  header h1 {
    flex: 1;
    
  }
  .header-navigation, .just-dashboard-button{
    display: flex;
    flex-direction: row;
  }
  header .header-navigation ul li {
    display: inline-block;
    font-size: 24px;
    margin: 0 8px;
  }
  
  main {
    margin: 0 auto;
  padding: 32px 0;
  width:  calc(100% - 270px);
  max-width: 1200px;
  
  }

  section {
    width: calc(100% - 250px); /* Subtract the width of the side dashboard */
    min-height: calc(100vh - 130px); /* Adjust for header and footer heights */
    margin-left: 250px; /* Adjust for the width of the side dashboard */
    margin-top: 50px; /* Adjust for the height of the header */
    margin-bottom: 50px; /* Adjust for the height of the footer */
    padding: 16px;
    transition: all ease-in-out 0.5s;
    overflow-y: auto; /* Add scrollbar if content exceeds height */
  }
  .error{
    color: var(--error);
    font-size: large;
    font-weight: bold;
    text-align: center;
  }

  [data-placeholder]:empty::before {
    content: attr(data-placeholder);
    color: var(--on-background-grey)
  }

  .toggle-theme, .toggle-locale, .icon-add-task, .icon-waiting-task {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    color: var(--on-background);
    display: flex;
    align-items: center;
    margin: 0 16px;
    font-size: 30px;
  }

  .container {
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0); /* White text */
    padding: 15px 32px; /* Padding */
    text-align: center; /* Center text */
    text-decoration: none;
    display: inline-block;
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margin */
    cursor: pointer; /* Cursor style */
    border-radius: 10px; /* Rounded corners */
  }
  
  .task_input{
    background: 1px solid var(--on-background);

  }
  /* Custom dropdown styles */
.task_dropdown {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid var(--on-background-grey); /* Use theme color for border */
  border-radius: 5px;
  background-color: var(--background); /* Use theme color for background */
  color: var(--on-surface); /* Use theme color for text color */
  position: relative;
  appearance: none; /* Remove default arrow */
  -webkit-appearance: none; /* Remove default arrow for webkit browsers */
  -moz-appearance: none; /* Remove default arrow for Mozilla Firefox */
}

/* Custom dropdown arrow */
.task_dropdown::after {
  content: '\25BC'; /* Downward arrow */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--on-background); /* Use theme color for arrow color */
}

/* Custom dropdown option styles */
.task_dropdown option {
  background-color: var(--background);
  margin: 10px;
  color: var(--on-surface);
}

/* Custom dropdown focus styles */
.task_dropdown:focus {
  outline: none;
  border-color: var(--primary); /* Change border color on focus */
}

/* .slide-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: var(--on-background);
  overflow-x: hidden;
  transition: 0.5s;
  transform: translateX(-100%);
}

.slide-navigation.open {
  transform: translateX(0);
} */

.menu-nav{
  font-weight: bold;
  font-size: large;
  
}

.side-dashboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: fixed;
  left: 0;
  top: 80px; /* Sesuaikan dengan tinggi header */
  padding: 16px;
  height: fit-content;
  min-height: calc(100vh - 130px); /* Biar tidak menutupi footer */
  width: 250px;
  background-color: var(--surface);
  transition: all ease-in-out 0.5s;
  overflow-y: visible;
}

/* .map{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  height: 100pc;
  width: 100%;
  color: var(--background);
  background-color: var(--surface);
  transition: all ease-in-out 0.5s;
  overflow-y: auto;
} */

.map {
  width: 90vw; /* Adjust width as needed */
  height: 90vh; /* Adjust height as needed */
  background-color: var(--surface); /* Set a background color */
  position: relative; /* Ensure proper positioning */
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /** Ensure proper positioning */
}

canvas {
  display: block; /* Make the canvas a block element */
  width: 100%; /* Ensure canvas fills its container */
  height: 100%; /* Ensure canvas fills its container */
  transform-origin: center;
}