:root {
    --primary: #BB86FC;
    --primary-variant: #1b005b;
    --secondary: #03DAC6;
    --background: #143363;
    --surface: #051030;
    --error: #CF6679;
    --warning: #F39C12;
    --on-background: #FFFFFF;
    --on-background-grey: #c7c7c7;
    --on-surface: #FFFFFF;
    --body: #6da4e3;
    --agv: #0e2362;
    --map: #274363;
    --obstacle: #3b3b3c;
  }
  
  [data-theme="light"] {
    --background: #73b8ea;
    --surface: #CADCF7;
    --on-background: #333333;
    --on-background-grey: #6d6d6d;
    --on-surface: #333333;
    --body: #abcaf3;
    --agv: #819ff8;
    --map: #326481;
    --obstacle: #313332;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  a {
    color: var(--on-background);
  }
  
  
  body {
    font-family: 'Inter', sans-serif;
  }
  
  .app-container {
    color: var(--on-background);
    min-height: 100vh;
    transition: all ease-in-out 0.5s;
  }
  
  .contents, .error{
    width : fit-content;
    overflow-y: auto;
    height: calc(100vh - 164px);
    align-items: center;
    
  }

  header h1 {
    flex: 1;
  }
  .header-navigation, .just-dashboard-button{
    display: flex;
    flex-direction: row;
  }

  .headerStyle h1{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    flex: 1;
  }

  section {
    width:max-content; 
    min-height: fit-content; 
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    margin: 0 auto;
    padding: 16px;
    transition: all ease-in-out 0.5s;
    overflow-y: auto; 
  }
  .error{
    color: var(--error);
    font-size: 30pt;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
  }

  [data-placeholder]:empty::before {
    content: attr(data-placeholder);
    color: var(--on-background-grey)
  }

  .toggle-theme, .toggle-locale, .icon-add-task, .icon-waiting-task {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    color: var(--on-background);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 16px 0;
    font-size: 30px;
  }

  .container {
    border: none;
    color: rgb(0, 0, 0); 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 10px; 
  }
  
  .task_input{
    background: 1px solid var(--on-background);

  }
  
  canvas{
    outline: none;
    border: none;
    overflow: hidden;
    -webkit-outline: none;
    -webkit-border: none;
    -webkit-overflow: hidden;
  }

.task_dropdown {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid var(--on-background-grey); 
  border-radius: 5px;
  background-color: var(--background); 
  color: var(--on-surface); 
  position: relative;
  appearance: none; 
  -webkit-appearance: none; 
  -moz-appearance: none; 
}


.task_dropdown::after {
  content: '\25BC'; 
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--on-background); 
}

.task_dropdown option {
  background-color: var(--background);
  margin: 10px;
  color: var(--on-surface);
}

.task_dropdown:focus {
  outline: none;
  border-color: var(--primary); 
}

.burger-button {
  position: absolute;
  left: 0;
  top: 20px; 
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
  color: var(--on-background);
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 30px;
  transition: margin-left 0.5s;
  margin-bottom: 10px;
}

.menu-nav{
  font-weight: bold;
  font-size: large;
  height: auto;
}

.side-dashboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: fixed;
  left: 0;
  top: 65px;
  padding: 16px;
  height: fit-content;
  min-height: calc(100vh - 100px);
  max-width: 100%;
  background-color: var(--surface);
  transition: all ease-in-out 0.5s;
  overflow-y: visible;
}

canvas {
  display: block;
  width: 100%; 
  height: 100%; 
  transform-origin: center;
  background-color: var(--body);
}

.contentStyle {
  text-align: center;
  color: var(--background);
  height: fit-content;
  width:fit-content;
  padding-top: 64px;
}
.mainStyle {
  text-align: center;
  height:fit-content;
  width:auto;
  padding-top: 64px;
  padding-bottom: 64px;
}
.siderStyle {
  /* text-align: center; */
  color: var(--background) !important;
  background-color: var(--surface) !important;
}
footer {
  text-align: center;
  color: var(--on-background) !important;
  background-color: var(--background) !important;
  font-weight: bold;
  font-size: 12pt;
  padding: 16px;
  height: 50px;
}
.layoutStyle {
  border-radius: 8px;
  overflow:auto;
  background-color: var(--body);
  justify-content: center;
  padding: 32px 0;
  text-align: center;
}
.table-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: fit-content;
  width: 100%;
}


.table-container.dark-theme .ant-table {
  color: var(--body);
  background-color: var(--surface); 
}

.reusable-table {
  width: 100%;
  border-collapse: collapse;
}
.agv-data{
  border-radius: 8px; 
  text-align: center;
}

.action{
  display: inline-block;
  width: 50px;
  height: fit-content;
  font-size: 24px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding: 8px 0;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  cursor: pointer;
}
.light-theme .action {
  color: var(--body);
}

.dark-theme .action {
  color: var(--body);
}

.set-icon{
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 24px;
  
}

.dash-name{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding-left: 150px;
} 

.page-name{
  font-size: 30px;
  font-weight: bold;
  justify-content: center;
  padding-left: 350px;
  padding-top: 1%;
} 

.add-input {
  background-color: var(--background);
  color: var(--on-background)!important;
  border: 1px solid var(--on-background-grey);
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}

.add-input label {
  color: var(--on-background)!important;
  font-weight: bold;
}

.add-input input,
.add-input select {
  background-color: #FFFFFF;
  color: var(--primary-variant)!important;
  border: 1px solid var(--on-background-grey);
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  margin-top: 5px;
}

.add-input button {
  background-color: var(--body);
  color: var(--on-background);
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin: 10%;
  width: fit-content;
}

.add-input button:hover {
  width: fit-content;
  background-color: var(--primary-variant);
}

.add-input .ant-form-item-label {
  color: var(--on-background);
}

.add-input .ant-select-selector {
  background-color: var(--surface);
  color: var(--surface);
  border: 1px solid var(--on-background);
  border-radius: 4px;
}

.add-input .ant-select-selector:hover, 
.add-input .ant-select-focused .ant-select-selector {
  border-color: var(--primary);
  box-shadow: 0 0 0 2px rgba(139, 134, 252, 0.2);
}
.waiting-popover .ant-popover-inner-content {
  background-color: var(--background); 
  padding: 12px; 
  border: 1px solid #d9d9d9; 
  border-radius: 4px; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); 
  overflow-y: auto !important; 
  max-height: 500px; 
  max-width: 500px; 
}

.waiting-popover .ant-popover-inner {
  max-height: 5;
  width: fit-content;
  max-width: 500px;
}

.task-body{
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15); 
  border-radius: 4px; 
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  height: fit-content;
  max-height: 80%;
  width: 100%;
  color: var(--on-background);
  background-color: var(--body);
  transition: all ease-in-out 0.5s;
  overflow-y: auto;
  font-size:x-small;
}


.siderStyle {
  background-color: var(--surface) !important;
  color: var(--on-background) !important;
  padding: 20px;
  height: 100vh;
  overflow-y: auto;
  border-right: 1px solid var(--on-background-grey);
}

.siderStyle .ant-alert {
  width: 100%;
  margin-bottom: 20px;
}

.siderStyle .ant-select {
  width: 100%;
}

.siderStyle .ant-select-selector {
  background-color: var(--surface);
  color: var(--on-background);
  border: 1px solid var(--on-background-grey);
}

.siderStyle .ant-select-selection-item {
  color: var(--on-background);
}

/* Card styles */
.processing-task-card,
.allocated-task-card {
  background-color: var(--background);
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 10px; 
  width: 150px;
  margin: 10px; 
  text-align: center;
  color: var(--on-background);
  font-size: small; 
}

.agv-data-card:hover, .processing-task-card:hover, .allocated-task-card:hover {
  transform: scale(1.05);
}


.siderStyle h2 {
  font-size: 20px;
  color: var(--on-background);
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

/* Scrollbar styles */
.siderStyle::-webkit-scrollbar {
  width: 8px;
}

.siderStyle::-webkit-scrollbar-thumb {
  background-color: var(--on-background-grey);
  border-radius: 10px;
}

.siderStyle::-webkit-scrollbar-thumb:hover {
  background-color: var(--on-background);
}

.siderStyle .ant-form-item {
  margin-bottom: 20px;
}

.siderStyle .ant-form-item-label > label {
  color: var(--on-background);
}


@media (max-width: 768px) {
  .siderStyle {
    width: 100%;
    position: relative;
  }
}

.headerStyle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px; 
  background-color: var(--background);
  color: var(--on-background);
}

.dash-name {
  margin: 0;
}

.header-icons {
  display: flex;
  align-items: center;
  font-size: 30px;
  padding-top: 5px;
}

/* For Login */
.login-page {
  height: 100vh;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 250px;
}

.login-title {
  color: var(--primary);
}

.login-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
}

.login-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.forgot-password {
  margin-top: 16px;
  color: var(--secondary);
}

@media (max-width: 768px) {
  .login-page {
    height: auto;
  }

  .login-image-container {
    height: 50vh; 
  }

  .login-image {
    height: 50vh;
  }

  .login-form-container {
    padding: 20px;
  }

  .login-image-container {
    display: none;
  }
}

.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background-color: var(--body);
  color: var(--on-background)
}

.profile-card, .log-card {
  width: 100%;
  max-width: 500px;
  text-align: center;
  padding: 20px;
  background-color: var(--background);
  color: var(--on-background);
  margin-bottom: 2%;
}

.profile-card p, .log-card p {
  margin-bottom: 16px;
  font-size: x-large;
}

.date-picker-container {
  margin-bottom: 20px;
}
.date-picker-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px; 
}

.select-date-message {
  margin-left: 10px; 
  color: #ff0000; 
  font-style: italic; 
}

.form-item-container {
  margin-bottom: 20px;
}

.form-item-container label {
  color: var(--background);
  font-weight: bold;
}

/* Select AGV dropdown */
.agv-select {
  width: 100%;
  align-items: center;
  color: var(--on-background);
  border: 1px solid var(--on-background-grey);
  border-radius: 4px;
}

.agv-select .ant-select-selector {
  background-color: var(--surface);
  color: var(--on-background);
  border: 1px solid var(--on-background-grey);
  border-radius: 4px;
  box-shadow: none;
}

.agv-select .ant-select-selector:focus {
  outline: none;
  border-color: var(--primary);
  box-shadow: 0 0 0 2px rgba(139, 134, 252, 0.2);
}

.agv-select .ant-select-arrow {
  color: var(--background);
}

.agv-select .ant-select-item {
  background-color: var(--surface);
  color: var(--on-background);
}

.agv-select .ant-select-item:hover {
  background-color: var(--primary-variant);
  color: var(--on-background);
}

.agv-select .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: var(--surface);
  color: var(--on-background);
}

/* Style for the selected AGV item displayed in the select box */
.agv-select .ant-select-selection-item {
  color: var(--background); /* Set the selected AGV item color in the select box to black */
  font-weight: bold; /* Optional: make the selected item bold */
}